/*Menu*/

#menu,
.nav {
    background-color: white;
    width: auto;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5%;
    /* +/- 20px*/


}

#menu h2 {
    color: #dda15e;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 25px;
}

h2 a:hover,
a:link,
a:active,
a:visited {
    text-decoration: none;
}

#menu span {
    color: #606c38;
    font-weight: 800;
}

.nav a {
    color: #606c38;
    text-decoration: none;
    margin: 30px;
    font-size: 20px;
}

.nav a:hover {
    color: #dda15e;
    transition: .4s;
}

.btn {
    display: flex;
    background-color: #dda15e;
    color: white;
    text-decoration: none;
    border: 12px solid transparent;
    font-weight: bold;
    border-radius: 10px;
    transition: transform .4s;
    font-size: 20px;
}

.btn:hover {
    background-color: #283618;
}

h2{
    text-align: center;
}

.pp{
    text-align: center;
}

